p {
  font-family: inter;
}


* {

  padding: 0;
  margin: 0;
}

li a {

  text-decoration: none;
  color: #ffff;
  font-size: 20px;
  padding: 25px;
}

ul {
  display: flex;
  /*ativa a propriedade de alinhamento*/
  flex-direction: row;
  /*coloca os elementos na horizontal*/
  font-size: 10px;
  
}

li {
  list-style: none;
  /*remove os pontos das lista*/
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #7a3611;
}

.logo{
    display: flex;
    font-size: 30px;
    color: #ffff;

}

.carrinho{
    font-size: 30px;
    color: #ffff;
}

.banner {
  height: 90vh;
  width: 100%;
  background-image: url("./assents/photo-1521017432531-fbd92d768814\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
 }

 .titulo{
    font-size: 60px;
    color:#ffff;
 }

 .subtitulo{
    font-size: 20px;
    color: #ffff;
   
 }
 .subi{
  width: 800px;
 }

 .banner-texto{
    align-items: center;
    display: flex;
    flex-direction: column;
    
 }
  
 .botao{
    background-color: #e07600;
    color: white;
 border-radius: 10px;
 padding: 5px 10px;
 border: none;
 }

 .texto-abaixo-banner{
align-items: center;
    display: flex;
    flex-direction: column;
  background-size: cover;
  display: flex;
  align-items: center;
 
 
 }

 .titulo1{
  font-size: 50px;
  color: #7a3611;
  font-weight: bold;
 }

 .subtitulo1{
  font-size: 20px;
  text-align: center;
 }

 .opcoes{
 display: flex;
 flex-direction: row;
 width: 700px;
 justify-content: space-evenly;

 }


.card{
  height: 200px;
  width: 500px;
  border: 1px solid black;
  border-radius: 100px;
   background-color: #7a3611;
}

.img-produto{
width: 500px;
height: 200px;
}

.card-img{
  width: 500px;
   height: 200px;
}

.card-estrutura{

  height: 800px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.card-preco{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.valor{
  color: #e07600;
}
 
 }